# Database connection string
DATABASE_URI=mongodb+srv://fpcc_website:UdNa8WDmw3SHlXu5@fpcc.2jbdcg4.mongodb.net/?retryWrites=true&w=majority&appName=FPCC
# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/your-database-name
# Used to encrypt JWT tokens
PAYLOAD_SECRET=32629347867147636334f3d7
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE
# Used to validate preview requests
PREVIEW_SECRET=bee93c1aa1c8748862c04ada615103ac69d706f32423c54e1daf489b00dfcf76
# Added by Payload