.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item {
  width: 100%;
  background: var(--l-gray);
  display: flex;
  flex-direction: column;
}
.header {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content p {
  margin: 0;
  padding: 0 24px 24px 24px;
}
.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.content.active {
  max-height: 100rem;
}
.icon {
  border: 2px solid var(--gray);
  border-radius: 50%;
}
.linkWrapper {
  display: flex;
  gap: 8px;
  flex-flow: row wrap;
  padding: 0 24px 24px 24px;
}
